@font-face {
    font-family: 'Sancreek';
    src: url('./fonts/Sancreek-Regular.woff') format('woff2'),
        url('./fonts/Sancreek-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --crimson:rgb(99, 0, 0);
    --darkCrimson:rgb(68, 0, 0);
    --slate:rgb(15, 15, 15);
    --gold:rgb(163, 114, 23);
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Sancreek';
    background-color: var(--slate);
    width:100vw;
}
nav {
    display:flex;
    width:100vw;
    height:30px;
    justify-content: space-around;
    background-color:var(--slate);
    align-items: center;
    margin-bottom:10px;
    z-index: "99999";
}
button {
    border:none;
    background-color: var(--slate);
    color:white;
    font-family:"Sancreek";
    font-size:18px;
    width:30%;
    height:30vh;
}
button:hover {
    background-color:var(--darkCrimson)
}
.copyright {
    color:white;
}
a {
    text-decoration: none;
    color:var(--crimson);
}