@font-face {
    font-family: 'Sancreek';
    src: url('./fonts/Sancreek-Regular.woff') format('woff2'),
        url('./fonts/Sancreek-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --crimson:rgb(99, 0, 0);
    --darkCrimson:rgb(68, 0, 0);
    --slate:rgb(15, 15, 15);
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Sancreek';
    background-color: var(--crimson);
}
nav {
    display:flex;
    width:100vw;
    height:30px;
    justify-content: space-around;
    background-color:var(--crimson);
    align-items: center;
    margin-bottom:10px;
    z-index: "99999";
}
button {
    border:none;
    background-color: var(--crimson);
    color:white;
    font-family:"Sancreek";
    font-size:18px;
    width:30%;
    height:30vh;
}
button:hover {
    background-color:var(--darkCrimson)
}
div#content {
    width:100vw;
    height:50vh;
    align-items: center;
}
.welcome {
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    position:relative;
}
#deanWelcome {
    width:40%;
    height: auto;
    position:absolute;
    top:50px;
    left:30%;
    bottom:0;
    border:2px solid red;
}
#welcomeLeft {
    width:40%;
    height: auto;
    position:absolute;
    top:70px;
    left:-10px;
    bottom:0;
    border:2px solid green;
}
#welcomeRight {
    width:40%;
    height: auto;
    position:absolute;
    top:70px;
    right:-10px;
    bottom:0;
    border:2px solid green;
}
.main-content {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate);
    width:100vw;
    height:70vh;
}
#mainPhoto {
    position:absolute;
    top:500px;
    left:0;
    right:0;
    width:100%;

}
#testimonial {
    background-color: var(--slate);
    width:60vw;
    height:15vh;
    z-index: "9999";
    position:absolute;
    top:700px;
    text-align: center;
    color:white;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding:20px;
    border:2px outset white;
}
.menu-container {
    display:flex;
    flex-direction: column;
    width:70vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:90px;
    border:7px outset gold;
    padding:20px 40px 20px 40px;
}
.menu-item {
    display:flex;
    flex-direction: row;
    padding:15px;
    margin:10px;
    align-items: center;
    width:70vw;
    height:150px;
    border:3px inset gold;
}
.item-info {
    display:flex;
    flex-direction: column;
    flex:2;
    min-width:40vw;
    height:150px;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.item-name {
    flex:1;
    color:var(--crimson);
    font-size: 18px;
    align-items: center;
    justify-content: start;
    padding-top:10px;
    color:rgb(231, 211, 211)
}
.item-desc {
    flex:3;
    padding:10px;
    color:rgb(190, 164, 164)
}
.item-price {
    display:flex;
    flex:1;
    font-size:22px;
    height:100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:rgb(231, 211, 211)
}
.placeholder-item {
    height:150px;
    width:auto;
    flex:1;
}
#menuContent {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menuPhotoBackground {
    display:flex;
    flex-direction: column;
    background-color: var(--slate);
    width:100vw;
    height:400px;
    align-items: center;
    justify-content: center;
}
#menuPhoto {
    position:absolute;
    left:170px;
    right:0px;
    top:150px;
}
#menuBanner {
    position:absolute;
    top:45px;
    left:0px;
    right:0px;
    width:100vw;
}